<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utfloat-8">
        <title>Vue - Boolzapp</title>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
   
    </head>
    <body>

        <div id="AppRoot" class="container">
            <div class="left">
                <div class="nav-left">
                    <div class="nav-left-logo">
                        <img :src="'img/avatar' + user.avatar + '.jpg'" :alt="user.name">
                        <span>{{ user.name }}</span>
                    </div>
                    <div class="nav-left-icons">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="left-disclaimer">
                    <div class="left-disclaimer-logo">
                        <i class="fa fa-bell-slash" aria-hidden="true"></i>
                    </div>
                    <div class="left-disclaimer-text">
                        <h3>Ricevi notifiche di nuovi messaggi</h3>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>
                <div class="left-searchbar">
                    <label class="search-label" for="search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </label>
                    <input id="contacts-filter" class="left-searchbar-input" placeholder="Search"
                           name="search">
                </div>
             <div class="contacts">
                    <div class="contact"
                        v-for="(contact, index) in contacts"
                        @click="switch_active_contact(index)"
                        :class="index == active_contact ? 'active' : ''">
                        <div class="contact-logo">
                            <img :src="'img/avatar' + contact.avatar + '.jpg'" :alt="contact.name">
                        </div>
                        <div class="contact-info">
                            <h3>
                                <span class="contact-name">{{ contact.name }}</span>
                                <span class="time f-right">12:00</span>
                            </h3>
                            <small>Ultimo messaggio inviato</small>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="right">
                <div class="nav-right">
                    <div class="nav-right-logo">
                  <img :src="'img/avatar' + contacts[active_contact].avatar + '.jpg'" alt="">
                        <h3>
                            <span id="nav-right-contact-name">
                                {{ contacts[active_contact].name }}
                            </span>
                            <br>
                            <small class="time">
                            </small>
                            Ultimo accesso oggi alle 4:35
                        </h3>
                    </div>
                    <div class="nav-right-icons">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
               <div class="right-messages-container">
                    <div class="right-messages">
                        <div
                            v-for="oggetto_messaggio in contacts[active_contact].messages"  class="message" :class="oggetto_messaggio.status">
                            <span class="message-text">
                                {{ oggetto_messaggio.message }}
                            </span>
                            <span class="message-time">12:00</span>
                         
                        </div>
                    </div>
                </div>
                <div class="right-footer">
                    <div class="right-footer-icon float-left">
                        <i class="far fa-smile"></i>
                    </div>
                    <input v-model="nuovo_messaggio" @keyup.enter="send_new_message" class="new-message-inputs" placeholder="Scrivi un messaggio">
                   <i class="fa fa-microphone microfono" aria-hidden="true"></i>
                </div>
            </div>
            <!-- /contenitore dx -->
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
